/* code by Benstitou Sofiane (carrelebo) */

/* Anton Font */

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* Bebas Neue Font */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


body{
    background: url(fond/cuisine2.jpg) no-repeat;
    background-attachment: fixed;
    background-size: 101%;
}

centre center.head nav{
    margin-right: 55px;
}

centre center.head nav ul li{
    list-style-type: none;
    display: inline-block;
}

centre center.head nav ul li a{
    text-decoration: none;

    color: white;
    background-color: black;

    padding-left: 20px;
    padding-right: 20px;

    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;

}

centre center.head nav ul li:hover a{
    color: white;
    background-color: black;
    transition: 0.2s all;
}


centre center.head{

    padding-top: 25px;

    margin-left: 40px;

}

centre center.head a img{
    /*background-color: white;*/
    
    padding-left: 6%;
    padding-right: 5%;

    margin-right: 5px;
    
    max-width: 46%;
}

centre center.main{
    max-width: 45%;
    margin-left: 23.5%;

    padding-left: 5%;
    padding-right: 5%;
    padding-top: 25px;
    padding-bottom: 100px;

    background-color: rgb(255, 255, 255);
}

centre center.main img{
    max-width: 90%;
}

h1{
    font-size: 55px;
    font-family: 'Bebas Neue', sans-serif;
    color: black;
}

p{
    font-size: 35px;
    font-family: 'Anton', cursive;
    color: black;
}

hr{
    color: white;
    background-color: white;
    border: white;
    height: 18px;
}